<h1>0.8.0 (Beta 2) - The design update</h1>
<p>0.8.0 beta 2 is out now with some upgrades to the design and a lot of otter stuff!</p>
<p>In 0.8.0 we will add all kind of little things but the main feature will be the new and fresh design.</p>
<p><strong>NOTE:</strong> The beta's are full with little bugs! Always backup your system before updating!</p>
<p>In this beta added:</p>
<ul>
	<li>New design for mobile and tablet.</li>
	<li>Updated PC design</li>
	<li>Improved editor system.</li>
</ul>

<br><br>

<h1>0.8.0 (Beta 1) - The design update</h1>
<p>0.8.0 beta 1 is out now with a new design!</p>
<p>In 0.8.0 we will add all kind of little things but the main feature will be the new and fresh design.</p>
<p><strong>NOTE:</strong> The beta's are full with little bugs! Always backup your system before updating!</p>
<p>In this beta added:</p>
<ul>
	<li>Added a blog on the login screen.</li>
	<li>New design for pc.</li>
	<li>Added user menu.</li>
	<li>Sign-in and sign-up on the same page.</li>
</ul>